{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}
{% block body %}

<h1>Contactez-nous</h1>
<div class="form-group">
    {{ form_start(form) }}
        {{ form_row(form.name, {
            'attr': {'class': 'form-control', 'placeholder': 'Nom'}
        }) }}
        {{ form_row(form.email, {
            'attr': {'class': 'form-control', 'placeholder': 'Email'}
        }) }}
        {{ form_row(form.question, {
            'attr': {'class': 'form-control', 'placeholder': 'Question'}
        }) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>

{% endblock %}
