{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messages.css') }}">
{% endblock %}
{% block body %}

<div id="logout">
    <button type="button" class="btn btn-link"><a href="{{ path('app_logout') }}">Deconnexion</a></button>
</div>
<h1>Messagerie</h1>
<main>
    {% for message in messages %}
        <div class="card border-primary mb-3">
            <div class="card-header">{{ message.name }}</div>
                <div class="card-body">
                    <h4 class="card-subtitle mb-2 text-muted">{{ message.email }}</h4>
                    <p class="card-text">{{ message.question}}</p>
                    {# Bouton pour l'accès admin des messages #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="btn btn_link"><a href="{{ path('app_messages_show', {'id': message.id}) }}">Voir</a></button>
                        {# {% if vu.valide == '1' %}
                            <span>vu</span>
                        {% elseif vu.valide == '0' %}
                        
                        {% endif %} #}
                    {% endif %}
                </div>
            </div>           
        </div>
    {% endfor %}  
<main>
{% endblock %}