{% extends 'base.html.twig' %}

{% block title %}Messagerie de {{ show.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messages_show.css') }}">
{% endblock %}
{% block body %}

<div id="return">
    <button type="button" class="btn btn-link"><a href="{{ path('app_messages') }}">Retour</a></button>
</div>
<h1>Message de {{ show.name }}</h1>
<main>
    <div>
        <div>
            <h2>De: {{ show.name }}</h2>
            <h4>Email: {{ show.email }}</h4>
        </div>
        <p>{{ show.question}}</p>
        {{ form_start(form) }}
            {{ form_row(form.valide, {
            label: 'Valide le message'
        }) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button class="btn btn-link"><a href="{{ path("app_messages_json", {'id': show.id}) }}">Json</a></button>
        {{ form_end(form) }}
    </div>
<main>
{% endblock %}

